DATABASE_URL=jdbc:postgresql://localhost:5432/${DB_NAME}
DATABASE_USERNAME=${DB_USERNAME}
DATABASE_PASSWORD=${DB_PASSWORD}

CLIENT_ID=${CLIENT_ID}
CLIENT_SECRET_KEY=${CLIENT_SECRET}
SCOPE=${SCOPE}
REDIRECT_URI=${REDIRECT_URI}
ALLOWED_EMAIL_DOMAIN=${YOUR_CUSTOM_ALLOWED_DOMAIN}

JWT_SECRET_KEY=jwt-secret-key
JWT_EXPIRATION=1000

COOKIE_EXPIRATION=1000
COOKIE_SECURE=false
FRONTEND_URL=http://localhost:3000