DATABASE_URL=jdbc:postgresql://localhost:5432/${DB_NAME}
DATABASE_USERNAME=${DB_USERNAME}
DATABASE_PASSWORD=${DB_PASSWORD}

CLIENT_ID=${GOOGLE_CLIENT_ID}
CLIENT-SECRET_KEY=${GOOGLE_CLIENT_SECRET}
SCOPE=${SCOPE}
REDIRECT-URI=${REDIRECT_URI}
ALLOWED-EMAIL-DOMAIN=${YOUR_CUSTOM_ALLOWED_DOMAIN}
