DATABASE_URL=jdbc:postgresql://localhost:5432/${DB_NAME}
DATABASE_USERNAME=${DB_USERNAME}
DATABASE_PASSWORD=${DB_PASSWORD}

CLIENT_ID=${CLIENT_ID}
CLIENT_SECRET_KEY=${CLIENT_SECRET}
SCOPE=${SCOPE}
REDIRECT_URI=${REDIRECT_URI}
ALLOWED_EMAIL_DOMAIN=${YOUR_CUSTOM_ALLOWED_DOMAIN}

GOOGLE_CALENDAR_ID={GOOGLE_CALENDAR_ID}
GOOGLE_CALENDAR_ENABLED=true

AUTHORIZATION_URI={AUTHORIZATION_URI}
CALENDAR_BASE_API=https://www.googleapis.com/calendar/v3/calendars/

JWT_SECRET_KEY=jwt-secret-key
JWT_EXPIRATION=1000

COOKIE_EXPIRATION=1000
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax
FRONTEND_URL=http://localhost:3000
REDIRECT_FRONTEND_URL=http://localhost:3000/dashboard

KIMAI_BASE_URL=${KIMAI_BASE_URL}
KIMAI_AUTH_USERNAME=${KIMAI_AUTH_USERNAME}
KIMAI_AUTH_TOKEN=${KIMAI_AUTH_TOKEN}

MAX_ALLOWED_OPTIONAL_HOLIDAYS_COUNT=2